.Login-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  align-items: center;
}

.Login-container h1 {
  color: white;
}

.Login-container h2 {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 1em;
  border-radius: 4px;
}
