.NavBar-container {
  width: 100%;
  height: 7vh;
  background-color: #f52f41;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.NavBar-container h1 {
  margin: 0;
  padding: 0 2em;
}
